<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>WeChat Application</display-name>

  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>
      org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- jianting -->
  <listener><listener-class>org.springframework.web.context.ContextLoaderListener</listener-class></listener>

  <servlet>
    <servlet-name>aaa</servlet-name>
    <servlet-class>cn.milo.wechat.AccessToken.AccessToken</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aaa</servlet-name>
    <url-pattern>/a.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>WechatServlet</servlet-name>
    <servlet-class>cn.milo.wechat.token.TokenCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WechatServlet</servlet-name>
    <url-pattern>/tokenCheck</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>cn.milo.wechat.Menu.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menuCheck</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>oauthServlet</servlet-name>
    <servlet-class>
      cn.milo.wechat.Auth.OAuthServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauthServlet</servlet-name>
    <url-pattern>/oauthServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>templateServlet</servlet-name>
    <servlet-class>
      cn.milo.wechat.SendTemplate.Template
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>templateServlet</servlet-name>
    <url-pattern>/templateServlet</url-pattern>
  </servlet-mapping>

</web-app>


